/* CodeBlock stil düzenlemeleri */
.code-block-container {
                              background-color: #2d2d2d;  /* Koyu gri arka plan */
                              padding: 15px;  /* İçeriğe biraz boşluk bırakıyoruz */
                              border-radius: 8px;  /* Kenarlara yuvarlaklık veriyoruz */
                              margin-bottom: 20px;  /* Altına boşluk bırakıyoruz */
                              font-size: 16px;  /* Yazı boyutunu ayarlıyoruz */
                              color: #f8f8f2;  /* Yazı rengi */
                              overflow-x: auto;  /* Uzun satırlar için yatay kaydırma ekliyoruz */
                            }
                            
                            .code-block-container pre {
                              margin: 0;  /* `pre` etiketinin varsayılan marjını sıfırlıyoruz */
                            }
                            
                            .code-block-container code {
                              font-family: "Courier New", monospace;  /* Monospace fontu ile yazı tipini ayarlıyoruz */
                              white-space: pre-wrap;  /* Satır sonu geldiğinde metni taşırmıyoruz */
                            }
                            
                            .git-command {
                              color: #f1c40f; /* Sarı renk ile git komutları vurgulanacak */
                              background-color: #34495e; /* Koyu gri arka plan */
                              padding: 10px;
                              border-radius: 5px;
                            }
                            
                            .bash-command {
                              color: #1abc9c; /* Yeşil renkte bash komutları */
                              background-color: #2c3e50; /* Koyu mavi arka plan */
                              padding: 10px;
                              border-radius: 5px;
                            }
                            